<div class="container">
	<div class="center hero-unit">
		<h1>Welcome to Mandarin Chinese Lessons 101</h1>
		<h2>Its time to revolutionize the teaching of Chinese
		as a foreign language</h2>
		
		<%= link_to "Get Started!", '#', class: "btn btn-large btn-primary" %>
		<%= link_to "What do we do?", about_path, class: "btn btn-large btn-primary" %>
	</div>
</div>	
