<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<h2>Lessons</h2>
			<ul>
				<li><%= link_to "Lesson 0 - Pinyin and Pronunciation", "#" %></li></br>
				<li><%= link_to "Lesson 1 - The Basics - Nouns, Verbs, and Syntax", "#" %></li></br>
				<li><%= link_to "Lesson 2 - Time and Place in Chinese", "#" %></li></br>
				<li><%= link_to "Lesson 3 - Your First Real Conversation", "#" %></li></br>
				<li><%= link_to "Lesson 4 - At the Restaurant", "#" %></li></br>
				<li><%= link_to "Lesson 5 - At the Market", "#" %></li></br>
				<li><%= link_to "Lesson 6 - Public Transportation and Taxis", "#" %></li></br>
			</ul>
		</div>
		<div class="span9">
			<h2>This is where the first lesson will go</h2>
		</div>
	</div>
</div>

