<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
        <div class="container">
			<%= link_to "mlc101", root_path, id: "logo" %>
				<ul class="nav pull-right">
					<li><%= link_to "Home",    		root_path %></li>
					<li><%= link_to "About Us",    	about_path %></li>
					<li><%= link_to "Lessons",  	lessons_path %></li>
						<li>
						<% if user_signed_in? %>
							<li>Signed in as <%= current_user.email %></li>
							<li>Not you? <%= link_to "Sign out", destroy_user_session_path %></li>
						<% else %>
							<li><% link_to "Sign up", new_user_registration_path %> or <% link_to "Sign in", new_user_session_path %></li>
						<% end %>
						</li>
				</ul>		
        </div>
	</div>
</header>