<!DOCTYPE html>
<html>
<head>
  <title>Mandarin Chinese Lessons 101 - Introductory Chinese | Home</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/analytics' %>
  <meta name="google-site-verification" content="kmXqGLcYYCPi8g0WqvOrwLMqZAnYKGA9uHY-bccnAA0" />
</head>

<body>
<p>adding a bit of txt in here to see if things are uploading properly</p>
<%= render 'layouts/header' %>

	
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	
<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
